[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torchvision = "*"
pytorch-lightning = "*"
torchmetrics = "*"
einops = "*"
opencv-python = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.10"
