[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
pillow = "*"
numpy = "*"
torch = "*"
torchvision = "*"
einops = "*"
opencv-python = "*"
strenum = "*"
torchinfo = "*"
torch-fidelity = "*"

[dev-packages]

[requires]
python_version = "3.10"
